In [2]:
import os 
import openai  
from sqlalchemy import text, create_engine
import pandas as pd

In [3]:
from dotenv import load_dotenv
load_dotenv()
api_key = os.getenv('OPENAI_API_KEY')

In [7]:
data_frame = pd.read_csv('customer_orders.csv')

In [11]:
#creation of SQlite database

engine = create_engine('sqlite:///:memory:',echo = True)
data_frame.to_sql('SalesTables',engine)

2024-05-25 20:42:58,780 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-25 20:42:58,815 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SalesTables")
2024-05-25 20:42:58,817 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-25 20:42:58,826 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SalesTables")
2024-05-25 20:42:58,830 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-25 20:42:58,843 INFO sqlalchemy.engine.Engine
CREATE TABLE "SalesTables" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2024-05-25 20:42:58,843 INFO sqlalchemy.engine.Engine [no key 0.00371s] ()
2024-05-25 20:42:58,853 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_SalesTables_index" ON "SalesTables" ("index")
2024-05-25 20:42:58,853 INFO sqlalchemy.engine.Engine [no key 0.00192s] ()
2024-05-25 20:42:59,010 INFO sqlalchemy.engine.Engine INSERT INTO "SalesTables" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-05-25 20:42:59,010 INFO sqlalchemy.engine.Engine [generated in 0.09877s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2024-05-25 20:42:59,060 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-25 20:42:59,066 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-25 20:42:59,070 INFO sqlalchemy.engine.Engine COMMIT

2823

In [12]:
def execute_sql_query(connection,query):
    result_obj = connection.execute(text(query))
    return result_obj

In [18]:
with engine.connect() as conn:
    sales_sum_result = execute_sql_query(conn,"SELECT SUM(Sales) FROM SalesTables")
    print(f"salessumresult:   {sales_sum_result}")

2024-05-25 20:51:34,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-25 20:51:34,432 INFO sqlalchemy.engine.Engine SELECT SUM(Sales) FROM SalesTables
2024-05-25 20:51:34,433 INFO sqlalchemy.engine.Engine [cached since 85.04s ago] ()
salessumresult:   <sqlalchemy.engine.cursor.CursorResult object at 0x0000024B641BE380>
2024-05-25 20:51:34,433 INFO sqlalchemy.engine.Engine ROLLBACK